.circle {
    width: 14px;
    height: 14px;
    display: inline;
    border-radius: 14px;

    &.circle-red {
        background-color: red;
    }
}

.icon {
    height: 24px;
    cursor: pointer;
}

.card-carousel {
    height: 200px;
    width: 100%;
    position: relative;

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;    
    }
    
    .card-carousel-button {
        position: absolute;
        height: 20px;
        width: 20px;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        background-color: white;
        border-radius: 20px;


        &.left {
            left: 8px;
        }

        &.right {
            right: 8px
        }
    }
}