.hero {
    height: 500px;
    width: 100%;
    padding: 32px 24px;
    position: relative;

    img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .hero-caption {
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 32px 24px; 
        width: 100%;
        background-color: rgba(0,0,0,0.5);
        color: white
    }

    .text-price {
        color: #8bf25e
    }
}

.list-icon {
    height: 80px;
}