.ddfile-dragndrop {
    display: none;
}

.ddfile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: background-color .3s ease
}

.box__button {
    display: none;
}

.no-js .box__button {
    display: block;
}

.ddfile-file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.ddfile label {
    display: inline-block;
    cursor: pointer;
}

.ddfile-file:focus+label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.ddfile-file+label * {
    pointer-events: none;
}

.ddfile.has-advanced-upload .ddfile-dragndrop {
    display: inline;
}


/* custom classes */

.ddfile-default {
    background-color: #dbf2f5;
    padding: 10px;
    min-height: 100px;
    border: 1px solid #00c982;
    border-radius: 15px;
}

.ddfile-default label {
    padding: 6px 15px;
    border-radius: 20px;
    background-color: #00ed99;
    color: white
}

.ddfile-default .ddfile-file:focus+label,
.ddfile-default .ddfile-file+label:hover {
    background-color: #00c982;
}

.ddfile-default.is-dragover {
    background-color: white;
}

.ddfile-light {
    padding: 10px;
    min-height: 100px;
    border: 1px solid #787878;
    border-radius: 10px;
}

.ddfile-light .ddfile-label {
    align-self: flex-start;
    color: #797979;
    padding-bottom: 15px
}
.ddfile-light .ddfile-indicator {
    color: #797979
}

.ddfile-light label {
    font-size: 13px;
    padding: 4px 40px;
    border-radius: 20px;
    background-color: #12db95;
    color: white
}

.ddfile-light .ddfile-file:focus+label,
.ddfile-light .ddfile-file+label:hover {
    background-color: #0d9666;
}

.ddfile-light.is-dragover {
    background-color: white;
}

.ddfile-preview {
    display: inline-block;
    position: relative;
    width: 75px;
    height: 75px;
    margin-right: 15px
}

.ddfile-preview img {
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    margin-right: 15px;
    object-fit: cover;
}
.ddfile-preview img:last-of-type {
    margin-right: 0;
}
.ddfile-preview > img.primary {
    border: 3px solid orange
}

.preview-close {
    position: absolute;
    text-align: center;
    top: -7px;
    right: -7px;
    width: 21px;
    height: 21px;
    border-radius: 20px;
    background-color: white;
    cursor: pointer;
}

.ddfile-preview.primary {
    border: 3px solid orange
}

.ddfile-indicator {
    font-size: 11px;
}