/*the container must be positioned relative:*/

.select-real:focus+.select-selected {
    box-shadow: 10px 10px 10px aqua;
}

.reactive-select {
    position: relative;
}

.reactive-select select {
    display: none;
    /*hide original SELECT element:*/
}


/*style the arrow inside the select element:*/

.select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 13px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
}

.select-selected:after {
    border-color: #595959 transparent transparent transparent;
}


/*point the arrow upwards when the select box is open (active):*/

.select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
}


/*style the items (options), including the selected item:*/

.select-items div {
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
}

.select-selected {
    transition: border-color 0.5s ease, color 0.5s ease;
    padding: 9px 33px 7px 13px;
    cursor: pointer;
    font-weight: 300;
    border-radius: 10px;
    position: relative;
    z-index: 101
}

.select-rounded {
    border-radius: 20px;
}

.select-default.unselected {
    background-color: transparent;
    color: #595959;
    border: 1px solid #595959;
}

.select-default.selected {
    background-color: transparent;
    color: #EF5929;
    border: 1px solid #EF5929;
}

.select-default+.select-items {
    border-radius: 20px;
    color: #ffffff;
}

.select-default.selected+.select-items {
    background-color: #EF5929;
}

.select-default.unselected+.select-items {
    background-color: #595959
}

.select-selected.selected:after {
    border-color: #EF5929 transparent transparent transparent;
}

.select-selected.unselected:after {
    border-color: #595959 transparent transparent transparent;
}


/*style items (options):*/

.select-items {
    position: absolute;
    max-height: 252px;
    overflow-x: auto;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 102;
    display: none;
}


/*hide the items when the select box is closed:*/

.select-show {
    display: block;
}

.select-items div:hover,
.same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}


/* custom classes */

.select-grey.selected {
    color: #6c757d;
    font-weight: 300;
    border-color: #787878;
}

.select-grey.unselected {
    color: #6c757d;
    font-weight: 300;
    border-color: #787878;
}

.select-grey+.select-items {
    color: #595959;
    border: 1px solid #6a6a6a;
    background-color: white;
    border-radius: 5px
}

.select-grey.selected:after {
    border-color: #323232 transparent transparent transparent;
}

.select-grey.unselected:after {
    border-color: #989898 transparent transparent transparent;
}

.select-home {
    font-size: 15px;
    height: 38px;
    vertical-align: middle;
    border-radius: 10px;
}

@media (min-width: 760px) {
    .select-home {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}

.select-booking .select-selected {
    border: 1px solid #595959;
    text-align: center;
    font-weight: 300;
}